*, *::before, *::after {
  margin: 0;
  padding: 0;

  transition: all 0.3s;
  /* debugging  */
  /* border: 1px solid red; */
  
  /* Default Font  */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
  text-decoration: green;
}


